//colors

// background
$background: #111621;
$background-faint: #334263;

// I don't know what these are exactly
$dark: #182030;
$dull: #7f8c8d;
$faint-dark: #31363b;

// red
$red: #c0392b;
$red-bright: #f05254;
$red-faint: #783228;

// green
$green-bright: #2ed157;
$green: #1cdc9a;
$green-faint: #17a262;

// yellow
$yellow-bright: #ff8a46;
$yellow: #fdbc4b;
$yellow-faint: #b65619;

// blue
$blue-bright: #1d99f3;
$blue: #3daee9;
$blue-faint: #1b668f;

// purple
$purple-bright: #9b59b6;
$purple: #b05dd4;
$purple-faint: #614a73;

// aqua
$aqua-bright: #1abc9c;
$aqua: #16a085;
$aqua-faint: #186c60;

// old

$something: #333842; // 182030
$something: #353b45; // 182030
$something: #4d78cc; // 1d99f3
$something: #6087cf; // 3daee9
$something: #00809b; // 1abc9c
$something: #2c313a; // 111621
$something: #282c34; // 111621
$something: #3e4451; // 334263
$something: #3c4049; // 334263
$something: #636d83; // 7f8c8d
$something: #1b1d23; // 1B1D23
$something: #d7dae0; // D7DAE0
$something: #4e5666; // 7f8c8d
$something: #747d91; // 7f8c8d
$something: #5a6375; // 7f8c8d
$something: #181a1f; // 111621
$something: #21252b; // 111621
$something: #9da5b4; // 7f8c8d
$something: #ffffff; // FFF
$something: #2ba143; // 1cdc9a
$something: #37af4e; // 2ed157
$something: #528bff; // 1d99f3
$something: #373b41; // 182030
$something: #523d14; // b65619
$something: #e0c285; // fdbc4b

$something: #e05252; // c0392b
$something: #828997; // 7f8c8d
$something: #bcc199; // 7f8c8d
$something: #33e8ec; // 1abc9c
$something: #cc6b73; // c0392b
$something: #be5046; // c0392b
$something: #c678dd; // 9b59b6
$something: #abb2bf; // d8e1f1
$something: #d19a66; // ff8a46
$something: #56b6c2; // 16a085
$something: #61afef; // 3daee9
$something: #e5c07b; // fdbc4b
$something: #5c6370; // 182030
$something: #98c379; // 16a085
$something: #e06c75; // c0392b
